/*
 _______ __
|__| | | | || || | 
| || |____ _| |_ ___| |_ ____ __ _____ _| |_ _________ 
| || '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_| | | | (_| | ||__/ | || (_) | | | | | | (_| | || (_) |__/\__ \
 \___/|_| |_|\__,_|\__\___|\__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes
*/

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
#loader-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 3003;
}

#loader {
display: block;
position: relative;
left: 50%;
top: 50%;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #3498db;
-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
z-index: 3002;
}

#loader:before {
content: "";
position: absolute;
top: 5px;
left: 5px;
right: 5px;
bottom: 5px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #e74c3c;
-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
content: "";
position: absolute;
top: 15px;
left: 15px;
right: 15px;
bottom: 15px;
border-radius: 50%;
border: 3px solid transparent;
border-top-color: #f9c922;
-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%{ 
		-webkit-transform: rotate(0deg);/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);/* IE 9 */
		transform: rotate(0deg);/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);/* IE 9 */
		transform: rotate(360deg);/* Firefox 16+, IE 10+, Opera */
	}
}

@keyframes spin {
	0%{ 
		-webkit-transform: rotate(0deg);/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);/* IE 9 */
		transform: rotate(0deg);/* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);/* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);/* IE 9 */
		transform: rotate(360deg);/* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
position: fixed;
top: 0;
width: 51%;
height: 100%;
background: #222222;
z-index: 3001;
-webkit-transform: translateX(0);/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(0);/* IE 9 */
transform: translateX(0);/* Firefox 16+, IE 10+, Opera */
}

.loader-section p {
color: #EEE;
font-size: 16px;
font-weight: 400;
margin: 14px 0px 2px 6px;
}

.loader-section p i.fa {
vertical-align: middle !important;
width: 20px !important;
margin-top: -3.0px !important;
padding: 2px 4px !important;
font-size: 18px !important;
color: #FFF !important;
}

#loader-wrapper .loader-section.section-left {
left: 0;
}

#loader-wrapper .loader-section.section-right {
right: 0;
}

.progress {
	overflow: hidden;
	height: 18px;
	margin-bottom: 18px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	color: #DDD;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress-bar-striped {
	background-size: 40px 40px;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
}

.progress.active .progress-bar-animated, .progress-bar-animated.active {
	-webkit-animation: progress-bar-striped 2s linear infinite;
	-o-animation: progress-bar-striped 2s linear infinite;
	animation: progress-bar-striped 2s linear infinite;
}

.bg-success {
	background-color: #5cb85c;
}

.progress-bar-striped .bg-success {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.bg-info {
	background-color: #5bc0de;
}

.progress-bar-striped .bg-info {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.bg-warning {
	background-color: #f0ad4e;
}

.progress-bar-striped .bg-warning {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.bg-danger {
	background-color: #d9534f;
}

.progress-bar-striped .bg-danger {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@-o-keyframes progress-bar-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress-bar-striped {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
-webkit-transform: translateX(-100%);/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(-100%);/* IE 9 */
transform: translateX(-100%);/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
-webkit-transform: translateX(100%);/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateX(100%);/* IE 9 */
transform: translateX(100%);/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
opacity: 0;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
visibility: hidden;
-webkit-transform: translateY(-100%);/* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: translateY(-100%);/* IE 9 */
transform: translateY(-100%);/* Firefox 16+, IE 10+, Opera */
-webkit-transition: all 0.3s 1s ease-out;
transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
display: none;
}

.no-js h1 {
color: #222222;
}

#content {
margin: 0 auto;
padding-bottom: 50px;
width: 80%;
max-width: 978px;
}